AccessModifierOffset: -3
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Attach
ColumnLimit: 100
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
IncludeBlocks: Preserve
IndentWidth: 4
Language: Cpp
MacroBlockBegin: "^MAPS_BEGIN_[A-Z]*_DEFINITION$"
MacroBlockEnd: "^MAPS_END_[A-Z]*_DEFINITION$"
PointerAlignment: Left
SpacesInParentheses: false
UseTab: Never
SpacesBeforeTrailingComments: 2
