/.pio/
/.vscode/
/local/
.DS_Store
src/software/firmware/output/*
!src/software/firmware/output/.gitkeep
src/software/firmware/*.csv
src/software/firmware/*.ods
src/software/firmware/*.csv#
src/software/firmware/*.ods#
src/software/control/target/*
build/*
.scannerwork
